html{
	background: url(../img/home-back-ground-0.jpg);
	background-size: cover;
	background-repeat: no-repeat;

}

.title{
	background-color: red;
	text-align: center;
	margin-top: 50%;
	margin-bottom: 50%;
}
.subtitle{
    margin-left: -212px;
    margin-top: -18px;
}

.subtitle-2{
	margin-top: -18px;
    margin-left: -33px;


}
.title>h1{
	margin-left: -600px;

}